
p{
	color: pink;
	font-size: 55px;
	font-weight: bold;
}

li {
	color: blue;
}

h2 {
	color: brown;
}

#favCoffee {
	font-style: italic;
}

#favCoffeeIcon {
	height: 80px;
	/*position: absolute;*/
	/*align-content: center;*/
}