@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.user-detail {
  margin-left: 10px;
}

fieldset {
  margin-right: 10px;
  margin-left: 10px;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10px;
}

a:link, a:visited {
    color: #dd5638;
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: red;
    background: white;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }


.btn:hover {
  background-color: green;
  color: white;
}

p {
    margin: 0 0 15px;
}

.form-group {
  margin-top: 10px;
}

.form-validation-message {
  color: red;
  font-size: 14px;
}

#nav_menu {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#nav_menu ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  float: left;
  width: 25%;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  padding: .7em 0;
  text-decoration: none;
  background-color: #34495E;
  color: white;
}

#nav_menu ul li a.current {
  color: Navy;
}

#nav_menu ul li a:hover {
  background-color: gray;
  color: #dd5;
}

.rwd-table {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;

  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

h3{
    margin: 100px 0px 50px 0px;
    font-size: 50px;
    text-align: center;
    color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}




/* ==== FORMS ==== */


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
}

input[type="submit"] {
    color: white;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 40%;
}

input[type="submit"]:hover {
    outline: none;
    border: none;
    background: #79b044;
}

select {
    color: #666;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
}

